@font-face {
  font-family: "bitter";
  src: url(fonts/Bitter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "bitter", serif;
}

body { 
  transition: all 300ms linear;
  /*background: #F5F5F5;*/
}

/* .main-container{
background: red;
position: absolute;
width: 100%;
} */


header {
  width: 100%;
  height: 110px;
  background: #ffe521;  
}

header h1 {
  padding: 30px 0 0 30px;
  font-size: 30px;    
  width: 30%;

}
header .profile{
   background: #68f8a6;
   border-radius: 5px;
   width: 21%;
   height: 10%;
   margin: -3.5% 0 0% 76.5%;
   position: absolute;
}
header .profile p{
  color: #000;
  font-size: 25px;
  margin: 5.5% 0 0 30%;
}

header .profile:hover {
  background: #c3bec6;
}

header .profile:hover p{
  color: #fff;
}

.img-profile {
   margin: -3.33% 0 0 77%;
   width: 60px;
   height: 60px;
   position: absolute; 
 }
 
 .options li {
  background: #fcfcfc;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
 }

 .options li:hover {
  background: #ff009e;
  color: #fff;    
 }

.sidebar {
  position: absolute;
  top: 0px;
  left: -20%;
  width: 20%;
  height: 100%;
  background: black;
  transition: all 300ms linear;
  margin-top: 110px; 
}

.menu-button {
  position: absolute;
  left: 110%;
  top: 10px;
}

.menu p a {
  text-decoration: none;
  color: #fff;
}

.menu p a:hover{

  color: #000;
}

.menu-button span {
  display: block;
  width: 30px;
  height: 5px;
  background:#151719;
  margin: 5px 0px;
  cursor: pointer;
}

.menu .submenu {
  padding: 15px 10px;
  border-bottom: 1px solid #444;
  color:#fcfcfc;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}

.menu .submenu:hover {
  padding:15px 10px;
  text-decoration: none;
  background: #ffe521;
  color: black;
}

body.sidebar-active {
  padding-left: 0px;
}
  
body.sidebar-active #sidebar {
  left:0px;
}

.global-container {
  width: 100%;
}
.section-container {
  width: 100%;
  text-align: center;
  background: white;
  height: 100%;
}

.content {
  height: 100%;
  font-size: 15px;
  text-align: center;
  padding-top: 30px;
}

.menu ul li {
  display: block;
  padding: 15px 10px;
  width: 100%;
  background: black;
  color: white;
  text-decoration: none;
  text-align: center;
  flex-direction: column;
  list-style: none;
  text-transform:uppercase;
}

.menu ul li:hover {
  padding: 15px 10px;
  text-decoration: none;
  background: #ffe521;
  color: black;
}
    
.submenu {
  display: block;
}

.hide {
	display: none;
}

.welcome-image {

	width: 80%;
	height: 400px;
	margin-top: 1%;
	padding-top: 70px;
	padding-left: 20px;
}

.background-text {

	color: #fff;
	font-size: 30px;
	font-weight: bold;
	width: 100%;
	height: 300px;
	margin-top: 70px;
	background: #ff009e;
	padding-top: 10%;
	text-align: center;
	padding-left: 6%;
	color opacity: 3;
}

.stats-image {

  margin: 8% 0 0 2.2%;	
  width: 100%;
}

/* .minor-sign{

	height: 200px;
	margin: 0 0 3% 7%;
}

.laboratoria-students-image {

	height: 300px;
	margin: 10% 0 0 7%;
  border-radius: 2px;

}

.major-sign {
	height: 200px;
	margin: 0 0 3% 7%;
} */

.contact-information {

	background: #000;
	margin-top: 10%;
	width: 100%;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding-top: 5%;
	font-size: 15px;
}

.contact-information a {

	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 20px;
}

.contact-information a:hover {
  color: #c3be;
}

.prom-img {

  width: 70%;
  height: 500px;
  margin-top: 5%;
}

.selector {
   
  margin: -7% 0.8% 0 0;
  width: 15%;
  height: 40px;
  font-weight: bold;
  border: 1px lightgray solid;
}

.search {
  
  margin: 0 0 0 80%;
  border-radius: 3px;
  width: 15%;
  height: 40px;
}

/* .section-container {
  display: block
} */

.button-order {

  width: 10%;
  height: 40px;
  margin-right: 23%;
  border-radius: 4px;
}

.users-table {
  margin: 10% 0 0 20%;
  border: 1px black;
}

.users-table thead {

  background: #000;
  color: #fff;
  width: 20%;
  height: 10%;
}

.users-table th {
  border: 1px solid black;
}

@media screen and (max-width: 800px) {

}